*{
    margin: 0;
    padding: 0;
}

.gallery{
    text-align: center;
}
.card{
    display: inline-block;
}
.card img{
    width: 200px;
    background-color: rgba(120,54,168,0.4);
    padding: 10px;
    margin: 10px;
    /* opacity: 0.5;
    filter: alpha(opacity=0.5) */
}

