.container{
    margin: auto;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    position: relative;
}

.container div{
    background-color: blue;
    width: 200px;
    height: 200px;
}

.container .relative{
    position: relative;
    left: 50px;
}

.container .absolute{
    background-color: green;
    position: absolute;
    right:50px;
    bottom: 0px;
}

.container .fixed{
    position: fixed;
    top:50%;
    left: 50%;
}



